@keyframes messageAnimation {
  0% {
    rotate: -5deg;
    transform: scale(0.1);
  }
  30% {
    rotate: 5deg;
  }
  40% {
    rotate: -5deg;
  }
  50% {
    rotate: 5deg;
  }
  60% {
    rotate: -5deg;
  }
  70% {
    rotate: 5deg;
  }
  80% {
    rotate: -5deg;
  }
  90% {
    rotate: 5deg;
  }

  100% {
    rotate: 0deg;
  }
}
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.main {
  margin: auto;
  width: 80%;
  position: relative;
  h1 {
    text-align: center;
  }
  ul {
    width: 20%;
    margin: auto;
  }
  .form-addCustomer {
    align-items: center;
    width: 35%;
    margin: auto;
    gap: 10px;
    padding: 100px;
    .firstPartForm {
      display: flex;
      justify-content: space-between;

      .left {
        width: 40%;
      }
      .right {
        width: 55%;
        select {
          width: 100%;
          height: 30px;
        }
      }
    }

    .message {
      background-color: rgb(23, 151, 9);
      padding: 10px;
      color: white;
      animation: messageAnimation 0.3s ease-in-out forwards;
      p {
        text-align: center;
      }
    }

    .label-addCustomer {
      width: 50px;
      width: 100%;
    }
    .message-field {
      color: red;
    }
    input {
      width: 100%;
      height: 25px;
    }
    textarea {
      width: 100%;
      height: 70px;
    }
    .tax-input {
      width: 57%;
    }
    .address {
      display: flex;
      flex-wrap: wrap;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  th,
  td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
}
.main-nav {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  h1 {
    font-size: 20px;
    font-weight: 800;
  }
  ul {
    display: flex;
    gap: 10px;

    li {
      list-style: none;
    }
  }
}
.link {
  text-decoration: none;
  color: black;
  &:hover {
    color: rgb(34, 88, 81);
  }
}
.btn {
  background-color: rgb(45, 149, 224);
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  &:hover {
    background-color: rgb(45, 111, 158);
  }
}
.gray-btn {
  background-color: gray;
}
.red-btn {
  background-color: red;
}
.errorInput {
  border: 1px solid red;
}
.main-message {
  z-index: 999;
  position: fixed; /* changed from absolute */
  top: 0;
  left: 0;
  width: 100vw; /* fill full width */
  height: 100vh; /* fill full height */
  padding-top: 100px;
  box-sizing: border-box;
  background-color: rgba(109, 109, 109, 0.912);
  display: flex;
  justify-content: center;
  align-items: start; /* or center if you want it vertically centered */

  &--container {
    width: 30%;
    background-color: rgb(231, 231, 231);
    padding: 10px 10px 50px 10px;
    box-sizing: border-box;
    animation: messageAnimation 0.3s ease-in-out;

    h1 {
      text-align: center;
    }
    p {
      display: block;
      width: 60%;
      text-align: center;
      margin: auto;
    }
    &--buttons {
      width: 60%;
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
  }
}
.main-pagination {
  margin-top: 200px;
  width: 100%;
  justify-content: space-around;
  ul {
    margin: auto;
    width: 20%;
    display: flex;
    list-style: none;
    gap: 10px;
    li {
      gap: 5%;
    }
  }
}
.title-listCustomer {
  display: flex;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 20px;
  justify-content: space-between;
}
.search-wrapper {
  display: inline-block;
  position: relative;
}
.search-input {
  height: 40px;
  width: 0px;
  padding-left: 40px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 10px rgb(246, 246, 246);
  background-color: black;
  transition: width 0.3s ease-in-out;
  cursor: default;
}
.search-input:hover {
  background-color: rgb(72, 72, 71);
}
.expand {
  width: 200px;
  display: block;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.expand:hover {
  background-color: white;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0%;
  padding-left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  z-index: 2;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  font-size: 16px;
  opacity: 0;
}
.button-search {
  border: none;
  background-color: rgb(37, 37, 37);
  color: black;
  position: absolute;
}
.hide-button {
  display: none;
}

.visible {
  opacity: 1;
}
.turn-to-black {
  color: black;
}
.main-results-search {
  width: 240px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px 2px rgb(246, 246, 246);
  border-top: 1px solid rgb(229, 229, 229);
  position: absolute;
  right: 0%;
  top: 95%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.main-results-search h1 {
  font-size: 20px;
  line-height: 1px;
}
.main-results-search p {
  font-size: 12px;
  color: rgb(147, 147, 147);
  padding-bottom: 15px;
}
.container-entire-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .profile-container {
    width: 20%;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    margin-top: 5%;
    img {
      width: 100%;
    }
  }
}
